.modal {
    background-color: var(--secondary-color);
    animation: fade-slide-in-ltr 0.3s ease-in-out;
    /* Default animation for LTR */
    color: var(--main-color);
    outline: none;
    border: none;
    padding: 1%;
    border-radius: 15px;
    position: fixed;
    margin: auto 0;
    width: 350px;
}

[dir="ltr"] .modal {
    right: 10px;
    left: auto;
    animation: fade-slide-in-ltr 0.3s ease-in-out;
}

[dir="rtl"] .modal {
    left: 10px;
    right: auto;
    animation: fade-slide-in-rtl 0.3s ease-in-out;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.65);
}

@keyframes fade-slide-in-ltr {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-slide-in-rtl {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.order_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_container {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.icon {
    font-size: 20px;
    color: var(--secondary-color);
}

.order_details,
.payment_details {
    padding-bottom: 15px;
}

.order_details,
.item_details {
    border-bottom: 0.5px solid var(--main-color);
}

.container {
    border-bottom: 0.5px solid var(--main-color);
    padding: 15px 0;
}

.order_details p:first-child {
    font-weight: bold;
    font-size: 20px;
}

.order_details p:last-child {
    font-size: 14px;
}

.payment_details {
    padding-top: 15px;
}

.section {
    display: flex;
    justify-content: space-between;
}

.section p,
.payment_details p {
    font-size: 14px;
    margin: 8px 0;
}

.title {
    font-weight: bold;
}